button {
    width:85px ;
    height: 40px;
    background-color: #7ed321;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    font-size: 15px;


}